--
-- PostgreSQL database dump
--

\restrict 5ckaQU6NpZYeeXCTZv0QzZzzzdGkBIBx5GDEfR65N5sUFRZccKUuQxW2GpURuwo

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: excel_uploads; Type: TABLE; Schema: public; Owner: myappge
--

CREATE TABLE public.excel_uploads (
    id integer NOT NULL,
    filename character varying(255) NOT NULL,
    row_count integer NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    snapshot_date date
);


ALTER TABLE public.excel_uploads OWNER TO myappge;

--
-- Name: excel_uploads_id_seq; Type: SEQUENCE; Schema: public; Owner: myappge
--

CREATE SEQUENCE public.excel_uploads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.excel_uploads_id_seq OWNER TO myappge;

--
-- Name: excel_uploads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myappge
--

ALTER SEQUENCE public.excel_uploads_id_seq OWNED BY public.excel_uploads.id;


--
-- Name: generators; Type: TABLE; Schema: public; Owner: myappge
--

CREATE TABLE public.generators (
    generator_id integer NOT NULL,
    site_id integer NOT NULL,
    router_ip character varying(64),
    site character varying(255),
    site_type character varying(100),
    reg character varying(100),
    ip character varying(64),
    alarms character varying(255),
    fuel_percent double precision,
    mains_voltage double precision,
    load_amperes double precision,
    update_time character varying(100),
    engine_state character varying(100),
    controller_mode character varying(100),
    running_hours double precision,
    total_fuel_consumption double precision,
    num_starts integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    upload_time timestamp without time zone,
    snapshot_time timestamp without time zone,
    snapshot_date date
);


ALTER TABLE public.generators OWNER TO myappge;

--
-- Name: generators_generator_id_seq; Type: SEQUENCE; Schema: public; Owner: myappge
--

CREATE SEQUENCE public.generators_generator_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.generators_generator_id_seq OWNER TO myappge;

--
-- Name: generators_generator_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myappge
--

ALTER SEQUENCE public.generators_generator_id_seq OWNED BY public.generators.generator_id;


--
-- Name: raw_data_rows; Type: TABLE; Schema: public; Owner: myappge
--

CREATE TABLE public.raw_data_rows (
    id integer NOT NULL,
    upload_id integer NOT NULL,
    source_row integer NOT NULL,
    data text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.raw_data_rows OWNER TO myappge;

--
-- Name: raw_data_rows_id_seq; Type: SEQUENCE; Schema: public; Owner: myappge
--

CREATE SEQUENCE public.raw_data_rows_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.raw_data_rows_id_seq OWNER TO myappge;

--
-- Name: raw_data_rows_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myappge
--

ALTER SEQUENCE public.raw_data_rows_id_seq OWNED BY public.raw_data_rows.id;


--
-- Name: rectifiers; Type: TABLE; Schema: public; Owner: myappge
--

CREATE TABLE public.rectifiers (
    rectifier_id integer NOT NULL,
    site_id integer NOT NULL,
    status character varying(50),
    manufacturer character varying(150),
    model character varying(150),
    output_voltage double precision,
    output_current double precision,
    temperature_c double precision,
    last_service_date character varying(50),
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    upload_time timestamp without time zone,
    snapshot_time timestamp without time zone,
    snapshot_date date
);


ALTER TABLE public.rectifiers OWNER TO myappge;

--
-- Name: rectifiers_rectifier_id_seq; Type: SEQUENCE; Schema: public; Owner: myappge
--

CREATE SEQUENCE public.rectifiers_rectifier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rectifiers_rectifier_id_seq OWNER TO myappge;

--
-- Name: rectifiers_rectifier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myappge
--

ALTER SEQUENCE public.rectifiers_rectifier_id_seq OWNED BY public.rectifiers.rectifier_id;


--
-- Name: sites; Type: TABLE; Schema: public; Owner: myappge
--

CREATE TABLE public.sites (
    site_id integer NOT NULL,
    router_ip character varying(64) NOT NULL,
    site_name character varying(255) NOT NULL,
    site_type character varying(100),
    region character varying(100),
    alarms character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    ip character varying(64)
);


ALTER TABLE public.sites OWNER TO myappge;

--
-- Name: sites_site_id_seq; Type: SEQUENCE; Schema: public; Owner: myappge
--

CREATE SEQUENCE public.sites_site_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sites_site_id_seq OWNER TO myappge;

--
-- Name: sites_site_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myappge
--

ALTER SEQUENCE public.sites_site_id_seq OWNED BY public.sites.site_id;


--
-- Name: excel_uploads id; Type: DEFAULT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.excel_uploads ALTER COLUMN id SET DEFAULT nextval('public.excel_uploads_id_seq'::regclass);


--
-- Name: generators generator_id; Type: DEFAULT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.generators ALTER COLUMN generator_id SET DEFAULT nextval('public.generators_generator_id_seq'::regclass);


--
-- Name: raw_data_rows id; Type: DEFAULT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.raw_data_rows ALTER COLUMN id SET DEFAULT nextval('public.raw_data_rows_id_seq'::regclass);


--
-- Name: rectifiers rectifier_id; Type: DEFAULT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.rectifiers ALTER COLUMN rectifier_id SET DEFAULT nextval('public.rectifiers_rectifier_id_seq'::regclass);


--
-- Name: sites site_id; Type: DEFAULT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.sites ALTER COLUMN site_id SET DEFAULT nextval('public.sites_site_id_seq'::regclass);


--
-- Name: excel_uploads excel_uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.excel_uploads
    ADD CONSTRAINT excel_uploads_pkey PRIMARY KEY (id);


--
-- Name: generators generators_pkey; Type: CONSTRAINT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.generators
    ADD CONSTRAINT generators_pkey PRIMARY KEY (generator_id);


--
-- Name: raw_data_rows raw_data_rows_pkey; Type: CONSTRAINT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.raw_data_rows
    ADD CONSTRAINT raw_data_rows_pkey PRIMARY KEY (id);


--
-- Name: rectifiers rectifiers_pkey; Type: CONSTRAINT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.rectifiers
    ADD CONSTRAINT rectifiers_pkey PRIMARY KEY (rectifier_id);


--
-- Name: sites sites_pkey; Type: CONSTRAINT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.sites
    ADD CONSTRAINT sites_pkey PRIMARY KEY (site_id);


--
-- Name: ix_excel_uploads_id; Type: INDEX; Schema: public; Owner: myappge
--

CREATE INDEX ix_excel_uploads_id ON public.excel_uploads USING btree (id);


--
-- Name: ix_generators_generator_id; Type: INDEX; Schema: public; Owner: myappge
--

CREATE INDEX ix_generators_generator_id ON public.generators USING btree (generator_id);


--
-- Name: ix_generators_site_id; Type: INDEX; Schema: public; Owner: myappge
--

CREATE INDEX ix_generators_site_id ON public.generators USING btree (site_id);


--
-- Name: ix_raw_data_rows_id; Type: INDEX; Schema: public; Owner: myappge
--

CREATE INDEX ix_raw_data_rows_id ON public.raw_data_rows USING btree (id);


--
-- Name: ix_raw_data_rows_upload_id; Type: INDEX; Schema: public; Owner: myappge
--

CREATE INDEX ix_raw_data_rows_upload_id ON public.raw_data_rows USING btree (upload_id);


--
-- Name: ix_rectifiers_rectifier_id; Type: INDEX; Schema: public; Owner: myappge
--

CREATE INDEX ix_rectifiers_rectifier_id ON public.rectifiers USING btree (rectifier_id);


--
-- Name: ix_rectifiers_site_id; Type: INDEX; Schema: public; Owner: myappge
--

CREATE INDEX ix_rectifiers_site_id ON public.rectifiers USING btree (site_id);


--
-- Name: ix_sites_router_ip; Type: INDEX; Schema: public; Owner: myappge
--

CREATE UNIQUE INDEX ix_sites_router_ip ON public.sites USING btree (router_ip);


--
-- Name: ix_sites_site_id; Type: INDEX; Schema: public; Owner: myappge
--

CREATE INDEX ix_sites_site_id ON public.sites USING btree (site_id);


--
-- Name: generators generators_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.generators
    ADD CONSTRAINT generators_site_id_fkey FOREIGN KEY (site_id) REFERENCES public.sites(site_id);


--
-- Name: rectifiers rectifiers_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myappge
--

ALTER TABLE ONLY public.rectifiers
    ADD CONSTRAINT rectifiers_site_id_fkey FOREIGN KEY (site_id) REFERENCES public.sites(site_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5ckaQU6NpZYeeXCTZv0QzZzzzdGkBIBx5GDEfR65N5sUFRZccKUuQxW2GpURuwo

